In [1]:
import pandas as pd

In [2]:
#We are going to calculate the Air Quality Index for each chemical
#We have to remember that each one has diferentel values for each level

def calculaICA_so2(valor):
    try:
        valor = float(valor)
        if 0 <= valor <= 100:
            return 1
        elif 100 < valor <= 200:
            return 2
        elif 200 < valor <= 350:
            return 3
        elif 350 < valor <= 500:
            return 4
        elif 500 < valor <= 750:
            return 5
        elif 750 < valor <= 1250:
            return 6
        else: return 0
    except:
        return 0
    
def calculaICA_pm25(valor):
    try:
        valor = float(valor)
        if 0 <= valor <= 10:
            return 1
        elif 10 < valor <= 20:
            return 2
        elif 20 < valor <= 25:
            return 3
        elif 25 < valor <= 50:
            return 4
        elif 50 < valor <= 75:
            return 5
        elif 75 < valor <= 800:
            return 6
        else: return 0
    except:
        return 0

def calculaICA_pm10(valor):
    try:
        valor = float(valor)
        if 0 <= valor <= 20:
            return 1
        elif 20 < valor <= 40:
            return 2
        elif 40 < valor <= 50:
            return 3
        elif 50 < valor <= 100:
            return 4
        elif 100 < valor <= 150:
            return 5
        elif 150 < valor <= 1200:
            return 6
        else: return 0
    except: 
        return 0

def calculaICA_o3(valor):
    try:
        valor = float(valor)
        if 0 <= valor <= 50:
            return 1
        elif 50 < valor <= 100:
            return 2
        elif 100 < valor <= 130:
            return 3
        elif 130 < valor <= 240:
            return 4
        elif 240 < valor <= 380:
            return 5
        elif 380 < valor <= 800:
            return 6
        else: return 0
    except:
        return 0
    
def calculaICA_no2(valor):
    try:
        valor = float(valor)
        if 0 <= valor <= 40:
            return 1
        elif 40 < valor <= 90:
            return 2
        elif 90 < valor <= 120:
            return 3
        elif 120 < valor <= 230:
            return 4
        elif 230 < valor <= 340:
            return 5
        elif 340 < valor <= 1000:
            return 6
        else: return 0
    except: return 0

In [3]:
filename = "DatosFinales.xlsx"
df = pd.read_excel(filename, sheet_name="Completo")

col_name = list(df.columns)
places = col_name[2:] #We get all the places name

In [4]:
#Each place has the format "place/ chemical"
#We are going to calculate value for the places whose chemical is measured in de AQI

so2_places = [place for place in places if "SO2" in place]
pm25_places = [place for place in places if "PM25" in place]
pm10_places = [place for place in places if "PM10" in place]
o3_places = [place for place in places if "O3" in place]
no2_places = [place for place in places if "NO2" in place]

In [5]:
#Now, we are going to apply the map() function to get the correspondence and store it in a new column
#Threshold values are in the Spanish National Air Quality Index

for place in so2_places:
    df[place+" ICA"] = df[place].map(calculaICA_so2)
for place in pm25_places:
    df[place+" ICA"] = df[place].map(calculaICA_pm25)
for place in pm10_places:
    df[place+" ICA"] = df[place].map(calculaICA_pm10)
for place in o3_places:
    df[place+" ICA"] = df[place].map(calculaICA_o3)
for place in no2_places:
    df[place+" ICA"] = df[place].map(calculaICA_no2)

C:\Users\jilai\AppData\Local\Temp\ipykernel_1892\344397634.py:13: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[place+" ICA"] = df[place].map(calculaICA_no2)
C:\Users\jilai\AppData\Local\Temp\ipykernel_1892\344397634.py:13: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[place+" ICA"] = df[place].map(calculaICA_no2)
C:\Users\jilai\AppData\Local\Temp\ipykernel_1892\344397634.py:13: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[place+" ICA"] = df[place].map(calculaICA_no2)

In [6]:
#Now, we are going to create a new column that shows the AQI for each place
#We obtain the value by picking the worst level of AQI of the place

aqi_values = {
    1 : "Buena",
    2 : "Razonablemente buena",
    3 : "Regular",
    4 : "Desfavorable",
    5 : "Muy desfavorable",
    6 : "Extremadamante desfavorable",
    0 : "Dato no válido"
}

chemicals = ["SO2", "NO2", "PM10", "PM25", "O3"]
unique_places = [place[:-5].strip() for place in so2_places]
place_chemicals = {}
for place in unique_places:
    place_chemicals[place] = []
    for chemical in chemicals:
        place_chemicals[place].append(place+"/ "+chemical +" ICA")

for place, lista in place_chemicals.items():
    df[place + " ICA"] = df[[lista[0], lista[1], lista[2], lista[3], lista[4]]].max(axis=1).map(aqi_values)
    df[place + " ICA num"] = df[[lista[0], lista[1], lista[2], lista[3], lista[4]]].max(axis=1)

df.head()

,Fecha,Día de la semana,"Barcelona, L'Eixample/ C6H6","Barcelona, L'Eixample/ CO","Barcelona, L'Eixample/ NO","Barcelona, L'Eixample/ NOx","Barcelona, L'Eixample/ NO2","Barcelona, L'Eixample/ SO2","Barcelona, L'Eixample/ PM10","Barcelona, L'Eixample/ PM25",...,"Valladolid, Arco de Ladrillo ICA","Valladolid, Arco de Ladrillo ICA num",Badajoz ICA,Badajoz ICA num,"Igualada, La Masuca (Barcelona) ICA","Igualada, La Masuca (Barcelona) ICA num",El Grao de Castellón ICA,El Grao de Castellón ICA num,"Vigo, Estación 1, Avda Citröen ICA","Vigo, Estación 1, Avda Citröen ICA num"
0,2009-01-01,ju,NaN,0.408333,26.583333,104.583333,41.791667,NaN,NaN,NaN,...,Razonablemente buena,2,Buena,1,Buena,1,Razonablemente buena,2,Razonablemente buena,2
1,2009-01-02,vi,NaN,0.400000,59.208333,155.958333,35.333333,NaN,NaN,NaN,...,Razonablemente buena,2,Buena,1,Buena,1,Razonablemente buena,2,Regular,3
2,2009-01-03,sá,NaN,0.670833,26.000000,97.458333,36.000000,NaN,NaN,NaN,...,Buena,1,Razonablemente buena,2,Buena,1,Razonablemente buena,2,Razonablemente buena,2
3,2009-01-04,do,NaN,0.337500,9.708333,56.708333,23.166667,NaN,NaN,NaN,...,Razonablemente buena,2,Buena,1,Buena,1,Regular,3,Regular,3
4,2009-01-05,lu,NaN,0.512500,24.750000,86.541667,17.500000,NaN,NaN,NaN,...,Razonablemente buena,2,Buena,1,Buena,1,Razonablemente buena,2,Razonablemente buena,2

In [7]:
df.to_excel('DatosICA.xlsx', index=False)

In [ ]:
#After all, we have selected just the columns with data about AQI, the rest has been eliminated manually
#With this, we may be able to make the interactive map